<!DOCTYPE html>
<html>
  <head>
    <title>Nestylist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">NestyList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <% if user_signed_in? %>
              <li class="nav-item active">
                <a class="nav-link" data-cy="inventory" href="/inventory">Stock on Hand</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-cy="shop" href="/shop">Go Shopping!</a>
              </li>
            <% end %>

          </ul>
          <p class="navbar-text float-right">
            <% if user_signed_in? %>
              <span id="signed-in-user">
                Logged in as <strong><%= current_user.username %></strong>
              </span>
              <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-link", id: "nav-sign-out" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "navbar-link", id: "nav-sign-up" %> |
              <%= link_to "Login", new_user_session_path, class: "navbar-link", id: "nav-sign-in" %>
            <% end %>
          </p>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <i>Nestylist © <%= Time.now.year %></i>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  </body>
</html>
